// Base colors
$white-color:				#fff;
$black-color:				#000;
$orange-color:				#f5a623;

// Background colors
$background-color: 			#d4d4d4;
$background-mark:			#ff0;
$background-input:			#fef2de;

// Border color
$border-color:				#1a1a1a;

// Button colors
$button-color:				#d12028;
$button-success-color:		#2dc22d;
$button-github:				#82d465;
$button-github-after:		#5cc437;
$button-facebook:			#3864a3;
$button-facebook-after:		#2d5082;
$button-twitter:			#5ea9dd;
$button-twitter-after:		#2c8dd0;

// Other styles in pixels
$border-width:				1px;
$height:					1px;
$image-width:				150px;
$max-width:					1500px;
$min-width:					300px;
$padding:					5px;
$store-max-width:			500px;

// Font weight
$base-font-weight:          100;
$bold-font-weight:          700;
$md-font-weight:            600;

// Other color
$unavailable-color:			#f8d0d2;